[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
black = "*"
isort = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
pre-commit = "*"

[packages]
pandas = "*"
astropy = "*"
luigi = "*"
boto3 = "*"
matplotlib = "*"
omegaconf = "*"
tensorflow= "*"

[requires]
python_version = "3.8"
