[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
black = "*"
isort = "*"
mkdocs = "*"
mkdocs-material = "*"
mkdocstrings = "*"
pre-commit = "*"

[packages]
pandas = "*"
astropy = "*"
luigi = "*"
hydra-core = "*"
boto3 = "*"
#luigi[toml] for stuff
pipfile = "*"

[requires]
python_version = "3.8"
